## Dictionary Methods

### clear()

Removing all the elements from the 'Person' dictionary

In [18]:
Person = {
'First_name' : 'Joe',  
'Last_name' : 'Fonebone',  
'age' : 51, 
'spouse' : 'Edna', 
'children' : ['Ralph', 'Betty', 'Joey'], 
'pets' : {'dog': 'Fido', 'cat': 'Sox'}
}

print(Person)

{'First_name': 'Joe', 'Last_name': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [19]:
Person.clear()

print(Person)

{}

### copy()

Copying 'Student' dictionary to 'Stdn' dictionary

In [9]:
Student = {
'Roll_No.' : 2451,
'Name' : 'Jose Smith',
'Class' : '10th Std',
'Section' : 'A',
'Class_Teacher' :  'Miss. Olivia Watson',
'DOB' : '11/12/2008'
}

print(Student)

{'Roll_No.': 2451, 'Name': 'Jose Smith', 'Class': '10th Std', 'Section': 'A', 'Class_Teacher': 'Miss. Olivia Watson', 'DOB': '11/12/2008'}

In [21]:
Stdn=Student.copy()

print(Stdn)

{'Roll_No.': 2451, 'Name': 'Jose Smith', 'Class': '10th Std', 'Class_Teacher': 'Miss. Olivia Watson', 'DOB': '11/12/2008'}

### fromkeys()

Creating dictionary with three keys & assigning them a specified value

In [28]:
a=('a1', 'a2', 'a3')
b=1

In [29]:
newdict=dict.fromkeys(a,b)

print(newdict)

{'a1': 1, 'a2': 1, 'a3': 1}

### get()

Getting the value of the particular key

In [5]:
Car = {
'brand' : 'Ford',
'model' : 'Mustang',
'year'  : '1964'
}

print(Car)

{'brand': 'Ford', 'model': 'Mustang', 'year': '1964'}

In [7]:
print(Car.get('model'))

# Key "color" not found in Car
print(Car.get('color'))

Mustang
None

In [52]:
# Returning the default value for the key which is not found in the dictionary rather that returning none 

print(Car.get('price', '65,00000'))

65,00000

### items()

Returning the key-value pair of Hospiatl 'dictionary'

In [12]:
Hospiatl = {
'Name' : 'Lifeshades Hospital',
'Address' : '13th Street, 47 W, VA 22041',
'Phone_No.' : 8449235878,
'Email' : 'info@lifeshades.com'
}

print(Hospiatl)

{'Name': 'Lifeshades Hospital', 'Address': '13th Street, 47 W, VA 22041', 'Phone_No.': '8449235878', 'Email': 'info@lifeshades.com'}

In [17]:
# Returning all existing key-value pair

Hp=Hospiatl.items()

print(Hp)

dict_items([('Name', 'Lifeshades Hospital'), ('Address', '13th Street, 47 W, VA 22041'), ('Phone_No.', '8449235878'), ('Email', 'info@lifeshades.com')])

In [18]:
# Returning updated key-value pair after changing value for 'Phone_No.' key

Hp=Hospiatl.items()

Hospiatl['Phone_No.']=8449235598

print(Hp)

dict_items([('Name', 'Lifeshades Hospital'), ('Address', '13th Street, 47 W, VA 22041'), ('Phone_No.', 8449235598), ('Email', 'info@lifeshades.com')])

### keys()

Getting result containg all the keys for 'Doctor' dictionary

In [29]:
Doctor = {
'Id' : '4256',
'First_name' : 'Mike',  
'Last_name' : 'Hemsworth',
'Specialist' : 'Neurologist',
'Hospital' : 'Harmony Wellness Center'
}

print(Doctor)

{'Id': '4256', 'First_name': 'Mike', 'Last_name': 'Hemsworth', 'Specialist': 'Neurologist', 'Hospital': 'Harmony Wellness Center'}

In [16]:
dockeys=Doctor.keys()

print(dockeys)

dict_keys(['Id', 'First_name', 'Last_name', 'Specialist', 'Hospital'])

### pop()

Removing the specified item from the 'Patient' dictionary

In [32]:
Patient = {
'Patient_Id' : 23089,
'First_name' : 'John',  
'Last_name' : 'Williams',
'Patient_Address' : '132, My Street, Kingston, New York 12401',
'Phone_No.' : '3455674455',
'Medical_condition': 'Kidney Failure',
'Patient_type' : 'Inpatient'
}

print(Patient)

{'Patient_Id': 23089, 'First_name': 'John', 'Last_name': 'Williams', 'Patient_Address': '132, My Street, Kingston, New York 12401', 'Phone_No.': '3455674455', 'Medical_condition': 'Kidney Failure', 'Patient_type': 'Inpatient'}

In [33]:
# Removing the key 'Patient_type' from the dictionary

Patient.pop('Patient_type')

print(Patient)

{'Patient_Id': 23089, 'First_name': 'John', 'Last_name': 'Williams', 'Patient_Address': '132, My Street, Kingston, New York 12401', 'Phone_No.': '3455674455', 'Medical_condition': 'Kidney Failure'}

In [36]:
# Getting the value of the removed item

Patient = {
'Patient_Id' : 23089,
'First_name' : 'John',  
'Last_name' : 'Williams',
'Patient_Address' : '132, My Street, Kingston, New York 12401',
'Phone_No.' : '3455674455',
'Medical_condition': 'Kidney Failure',
'Patient_type' : 'Inpatient'
}

removedValue=Patient.pop('Patient_type')

print(removedValue)

Inpatient

### popitem()

Removing the last item from 'Employee' dictionary

In [44]:
Employee = {
'Employee_Id' : 259768,
'First_name' : 'Kim',  
'Last_name' : 'Anderson',
'Designation' : 'Software Engineer',
'Company' : 'Trek Tech Corporation'
}

print(Employee)

{'Employee_Id': 259768, 'First_name': 'Kim', 'Last_name': 'Anderson', 'Designation': 'Software Engineer', 'Company': 'Trek Tech Corporation'}

In [45]:
Employee.popitem()

print(Employee)

{'Employee_Id': 259768, 'First_name': 'Kim', 'Last_name': 'Anderson', 'Designation': 'Software Engineer'}

### setdefault()

Getting the value for 'School' key in the dictionary

In [47]:
Teacher = {
'Id' : 25489,
'First_name' : 'Kristine',  
'Last_name' : 'Fox',
'Subject_taught' : 'English',
'Level' : 'Level 1',
'School' : 'Jefferson Elementary School'
}

print(Teacher)

{'Id': 25489, 'First_name': 'Kristine', 'Last_name': 'Fox', 'Subject_taught': 'English', 'Level': 'Level 1', 'School': 'Jefferson Elementary School'}

In [48]:
t=Teacher.setdefault('School')

print(t)

Jefferson Elementary School

In [54]:
# Getting the value for newly inserting key 'Title' & its corresponding value 'Elementary Teacher' in the dictionary

t=Teacher.setdefault('Title', 'Elementary Teacher')

print(t)

Elementary Teacher

In [51]:
# Updated dictionary

print(Teacher)

{'Id': 25489, 'First_name': 'Kristine', 'Last_name': 'Fox', 'Subject_taught': 'English', 'Level': 'Level 1', 'School': 'Jefferson Elementary School', 'Title': 'Elementary Teacher'}

### update()

Inserting the specified item in the dictionary

In [55]:
Address = {
'House_No.' : 132,
'Street_name' : '47 W 66th St',
'City' : 'Kingston',
'State' : 'New York'
}

print(Address)

{'House_No.': 132, 'Street_name': '47 W 66th St', 'City': 'Kingston', 'State': 'New York'}

In [56]:
Address.update({'Postal_code' : 12401})

print(Address)

{'House_No.': 132, 'Street_name': '47 W 66th St', 'City': 'Kingston', 'State': 'New York', 'Postal_code': 12401}

### values()

Getting the values for all defined keys in the dictionary

In [57]:
Numberlist = {
1 : 'One',
2 : 'Two',
3 : 'Three',
4 : 'Four',
5 : 'Five'
}

print(Numberlist)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [58]:
Nl=Numberlist.values()

print(Nl)

dict_values(['One', 'Two', 'Three', 'Four', 'Five'])

## Tuple Methods

### count()

Returning number of times value 'Yellow' occurred in 'rainbowTuple' tuple

In [59]:
rainbowTuple = ('Red', 'Orange', 'Yellow','Green', 'Blue', 'Indigo', 'Violet', 'Yellow')

rt= rainbowTuple.count('Yellow')

print(rt)

2

### index()

Returning the index of the first occurrence of the value 5

In [63]:
numlist = (1,2,3,4,5,8,5,4,8,2)

print(numlist)

(1, 2, 3, 4, 5, 8, 5, 4, 8, 2)

In [64]:
nl=numlist.index(5)

print(nl)

4